<a href="https://colab.research.google.com/github/ValmirJrDS/desafiocursotera/blob/main/Desafio_pr%C3%A9_DSC_ipynb_Valmir_Moreira.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio Mini-curso Python

Olá! Que bom que você veio!<br>
**INSTRUÇÕES**


### 1) Considere que a aresta deste cubo tem 8cm. Calcule o volume total dessa peça. Guarde o resultado na variável `cubo`.

![image](https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Hexahedron.jpg/280px-Hexahedron.jpg)


Dica: Volume de um cubo é sua aresta elevada a terceira potência.

In [ ]:
#Coloque sua resposta aqui

In [1]:
aresta = 8
cubo = aresta ** 3
cubo

512

## Números primos
Os Números Primos são números naturais maiores do que 1 que possuem somente dois divisores, ou seja, são divisíveis por 1 e por ele mesmo.

**Rode a célula contento a lista de `numeros_primos` antes de continuar**

### Faça os exercícios de **2** a **5** seguintes operações com a lista `numeros_primos`

In [2]:
#Rode essa célula
numeros_primos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

### 2) Guarde na variável `quinto_elemento` o quinto elemento da lista `numeros_primos`

In [ ]:
#Coloque sua resposta aqui

In [3]:
quinto_elemneto=numeros_primos[5]
quinto_elemneto

13

### 3) Guarde na variável `10_primos` uma lista com os 10 primeiros numeros primos da lista `numeros_primos`

In [ ]:
#Coloque sua resposta aqui

In [4]:
_primos = numeros_primos[:10]
_primos

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

### 4) Guarde na variável `soma_primos` a soma total da lista `numeros_primos`

In [ ]:
#Coloque sua resposta aqui

In [5]:
soma_primos = sum(numeros_primos)
print(f'A soma total dos numeros primos é -> {soma_primos}')

A soma total dos numeros primos é -> 76127

### 5) Guarde na variável `primos_dobro` uma nova lista que seja a lista `numeros_primos` com seus elementos multiplicados por 2 (Dica: utilize `list comprehension`)

In [ ]:
#Coloque sua resposta aqui

In [6]:
primos_dobro = [primos *2 for primos in numeros_primos]
print(primos_dobro)

[4, 6, 10, 14, 22, 26, 34, 38, 46, 58, 62, 74, 82, 86, 94, 106, 118, 122, 134, 142, 146, 158, 166, 178, 194, 202, 206, 214, 218, 226, 254, 262, 274, 278, 298, 302, 314, 326, 334, 346, 358, 362, 382, 386, 394, 398, 422, 446, 454, 458, 466, 478, 482, 502, 514, 526, 538, 542, 554, 562, 566, 586, 614, 622, 626, 634, 662, 674, 694, 698, 706, 718, 734, 746, 758, 766, 778, 794, 802, 818, 838, 842, 862, 866, 878, 886, 898, 914, 922, 926, 934, 958, 974, 982, 998, 1006, 1018, 1042, 1046, 1082, 1094, 1114, 1126, 1138, 1142, 1154, 1174, 1186, 1198, 1202, 1214, 1226, 1234, 1238, 1262, 1282, 1286, 1294, 1306, 1318, 1322, 1346, 1354, 1366, 1382, 1402, 1418, 1438, 1454, 1466, 1478, 1486, 1502, 1514, 1522, 1538, 1546, 1574, 1594, 1618, 1622, 1642, 1646, 1654, 1658, 1678, 1706, 1714, 1718, 1726, 1754, 1762, 1766, 1774, 1814, 1822, 1838, 1858, 1874, 1882, 1894, 1906, 1934, 1942, 1954, 1966, 1982, 1994]

### Dicionários

A **Escala de Scoville** é usda para medir o grau de ardência das pimentas. Preparamos um dicionário com o nome da pimenta e sua respectiva ardência em unidades Scoville.

**Rode a célula contento o dicionário de `pimentas` antes de continuar**

### Faça os exercícios de **6** e **7** seguintes operações com o dicionário `pimentas`

In [7]:
#Rode essa célula
pimentas = {
    'Pimentão': 0,
    'Pepperoncini': 300,
    'Molho Tabasco Jalapenho': 700,
    'Pimenta Anaheim': 750	,
    'Pimenta Poblano': 1250,
    'Pimenta Rocotillo': 2000,
    'Molho Tabasco': 3750,
    'Pimenta Jalapeño': 5250,
    'Wax Pepper': 7500,
    'Molho Tabasco Habanero': 7500,
    'Pimenta Dedo de Moça': 10000,
    'Pimenta Serrano': 16500,
    'Pimenta Malagueta': 75000,
    'Jamaican Hot Pepper': 150000,
    'Habanero Chili': 225000,
    'Pimenta de Chili Scotch Bonnet': 225000,
    'Habanero Chili Red Savina': 463500,
    'Dorset Naga': 923000,
    'Pimenta Naga Bhut Jolokia': 927500,
    'Pimenta Infinity Chilli': 1000000,
    'Pimenta Naga Viper': 1300000,
    'Pimenta Trinidad Scorpion Butch T': 1604615,
    'Vicnic-1313': 1820000,
    'Carolina Reaper': 1884650
}

### 6) Guarde na variável `quente` o valor de ardência da pimenta `Carolina Reaper`

In [ ]:
#Coloque sua resposta aqui

In [8]:
quente = pimentas['Carolina Reaper']
quente

1884650

### 7) Insira no dicionário `pimentas` este novo par: `'Pimenta Caiena': 40000`

In [9]:
pimentas['Pimenta Caiena'] = 40000
pimentas

{'Carolina Reaper': 1884650,
 'Dorset Naga': 923000,
 'Habanero Chili': 225000,
 'Habanero Chili Red Savina': 463500,
 'Jamaican Hot Pepper': 150000,
 'Molho Tabasco': 3750,
 'Molho Tabasco Habanero': 7500,
 'Molho Tabasco Jalapenho': 700,
 'Pepperoncini': 300,
 'Pimenta Anaheim': 750,
 'Pimenta Caiena': 40000,
 'Pimenta Dedo de Moça': 10000,
 'Pimenta Infinity Chilli': 1000000,
 'Pimenta Jalapeño': 5250,
 'Pimenta Malagueta': 75000,
 'Pimenta Naga Bhut Jolokia': 927500,
 'Pimenta Naga Viper': 1300000,
 'Pimenta Poblano': 1250,
 'Pimenta Rocotillo': 2000,
 'Pimenta Serrano': 16500,
 'Pimenta Trinidad Scorpion Butch T': 1604615,
 'Pimenta de Chili Scotch Bonnet': 225000,
 'Pimentão': 0,
 'Vicnic-1313': 1820000,
 'Wax Pepper': 7500}

## Funções e condicionais

O **IMC** (Indice de Massa Corporal) é um critério da Organização Mundial de Saúde para dar uma indicação sobre a condição de peso de uma pessoa adulta. A fórmula é IMC = peso / ( altura )²

### 8) Construa uma função de nome `calcular_imc` que receba o peso e a altura de um adulto e mostre sua condição de acordo com a tabela abaixo.

| IMC em adultos  | Condição       |
|-----------------|----------------|
| Abaixo de 18,5  | Abaixo do peso |
| Entre 18,5 e 25 | Peso normal    |
| Entre 25 e 30   | Acima do peso  |
| Acima de 30     | obeso          |

In [ ]:
#Coloque sua resposta aqui

In [13]:
peso = float(input('QUAL SEU PESO? (KG) '))
altura = float(input('QUAL A SUA ALLTURA? (M) '))
imc = peso / (altura **2)
print('O IMC DESSE ADULTO É DE {:.1f}'.format(imc))
if imc < 18.5:
  print('VOCÊ ESTÁ ABAIXO DO PESO')
elif 18.5 <= imc < 25:
  print('VOCÊ ESTÁ PESO NORMAL')
elif 25 <= imc < 30:
  print('VOCÊ ESTÁ ACIMA DO PESO')
elif imc > 30:
  print('VOCÊ ESTÁ OBESSO')

QUAL SEU PESO? (KG) 81
QUAL A SUA ALLTURA? (M) 1.78
O IMC DESSE ADULTO É DE 25.6
VOCÊ ESTÁ ACIMA DO PESO

## Com base na sua função faça os seguintes exercícios:
### 9) Guarde na variável `cond1` o IMC de uma pessoa que tenha 1,72 de altura e 80Kg de peso

In [ ]:
#Coloque sua resposta aqui

In [14]:
peso = float(input('QUAL SEU PESO? (KG) '))
altura = float(input('QUAL A SUA ALLTURA? (M) '))
imc = peso / (altura **2)
cond1 = imc
print('O IMC DESSE ADULTO É DE {:.1f}'.format(imc))
if imc < 18.5:
  print('VOCÊ ESTÁ ABAIXO DO PESO')
elif 18.5 <= imc < 25:
  print('VOCÊ ESTÁ PESO NORMAL')
elif 25 <= imc < 30:
  print('VOCÊ ESTÁ ACIMA DO PESO')
elif imc > 30:
  print('VOCÊ ESTÁ OBESSO')
print('OVALOR DA VARIAVEL COND1 É: {:.1f}'.format(cond1))

QUAL SEU PESO? (KG) 80
QUAL A SUA ALLTURA? (M) 1.72
O IMC DESSE ADULTO É DE 27.0
VOCÊ ESTÁ ACIMA DO PESO
OVALOR DA VARIAVEL COND1 É: 27.0

### 10) Guarde na variável `cond2` o IMC de uma pessoa que tenha 2,1 de altura e 70Kg de peso

In [ ]:
#Coloque sua resposta aqui

In [15]:
peso = float(input('QUAL SEU PESO? (KG) '))
altura = float(input('QUAL A SUA ALLTURA? (M) '))
imc = peso / (altura **2)
cond2 = imc
print('O IMC DESSE ADULTO É DE {:.1f}'.format(imc))
if imc < 18.5:
  print('VOCÊ ESTÁ ABAIXO DO PESO')
elif 18.5 <= imc < 25:
  print('VOCÊ ESTÁ PESO NORMAL')
elif 25 <= imc < 30:
  print('VOCÊ ESTÁ ACIMA DO PESO')
elif imc > 30:
  print('VOCÊ ESTÁ OBESSO')
print('OVALOR DA VARIAVEL COND2 É: {:.1f}'.format(cond2))

QUAL SEU PESO? (KG) 70
QUAL A SUA ALLTURA? (M) 2.1
O IMC DESSE ADULTO É DE 15.9
VOCÊ ESTÁ ABAIXO DO PESO
OVALOR DA VARIAVEL COND2 É: 15.9

### 11) Guarde na variável `cond3` o IMC de uma pessoa que tenha 1,55 de altura e 80Kg de peso

In [ ]:
#Coloque sua resposta aqui

In [16]:
peso = float(input('QUAL SEU PESO? (KG) '))
altura = float(input('QUAL A SUA ALLTURA? (M) '))
imc = peso / (altura **2)
cond3 = imc
print('O IMC DESSE ADULTO É DE {:.1f}'.format(imc))
if imc < 18.5:
  print('VOCÊ ESTÁ ABAIXO DO PESO')
elif 18.5 <= imc < 25:
  print('VOCÊ ESTÁ PESO NORMAL')
elif 25 <= imc < 30:
  print('VOCÊ ESTÁ ACIMA DO PESO')
elif imc > 30:
  print('VOCÊ ESTÁ OBESSO')
print('OVALOR DA VARIAVEL COND3 É: {:.1f}'.format(cond3))

QUAL SEU PESO? (KG) 80
QUAL A SUA ALLTURA? (M) 1.55
O IMC DESSE ADULTO É DE 33.3
VOCÊ ESTÁ OBESSO
OVALOR DA VARIAVEL COND3 É: 33.3

In [17]:
print('O VALOR DA VARIEVEL COND1 É: {:.1f}'.format(cond1))
print('O VALOR DA VARIEVEL COND2 É: {:.1f}'.format(cond2))
print('O VALOR DA VARIEVEL COND3 É: {:.1f}'.format(cond3))

O VALOR DA VARIEVEL COND1 É: 27.0
O VALOR DA VARIEVEL COND2 É: 15.9
O VALOR DA VARIEVEL COND3 É: 33.3

### Pandas
#### Faça o download do `.csv` abaixo e faça a leitura dele no `pandas` guarde-a na variável `gorjetas`

[Arquivo para download](https://drive.google.com/file/d/18f43p3FPmzRqN-I5S03U5pn6wdburrZQ/view?usp=sharing)

Dica: Não se esqueça de importar a biblioteca pandas

In [18]:
import pandas as pd

In [24]:
gorjetas = pd.read_csv("https://raw.githubusercontent.com/ValmirJrDS/datasets/main/gorjeta.csv")
print('Dimensões do Dataset',
    '\nVariáveis: ', gorjetas.shape[1], "\n"
      'Entradas: ', gorjetas.shape[0])

Dimensões do Dataset
Variáveis:  4
Entradas:  244

In [25]:
gorjetas.head()

   total  gorjeta fumante  tamanho
0  16.99     1.01      No        2
1  10.34     1.66      No        3
2  21.01     3.50      No        3
3  23.68     3.31      No        2
4  24.59     3.61      No        4

### Faça os exercícios de **12** a **14** com o DataDrame `gorjetas`

### 12) Guarde na variável `media_contas` o valor da média da colula **total**

In [ ]:
#Coloque sua resposta aqui

In [27]:
media_contas = gorjetas['total'].median()
media_contas

17.795

### 13) Guarde na variável `max_tamanho` o maior valor da colula **tamanho**

In [ ]:
#Coloque sua resposta aqui

In [29]:
max_tamanho = gorjetas['tamanho'].max()
max_tamanho

6

### 14) Guarde na variável `min_gorjeta` o menor valor da colula **gorjeta**

In [ ]:
#Coloque sua resposta aqui

In [31]:
min_gorjeta = gorjetas['gorjeta'].min()
min_gorjeta

1.0

### 15) (Debugging) Encontre e arrume o erro do código abaixo:

In [35]:
idades = {
    'Michael Scott': 43,
    'Pam Beesly': 24,
    'Jim Halpert': 25
}

michael = f'Michael Scott tem {idades["Michael Scott"]} anos de idade.'
print(michael)

Michael Scott tem 43 anos de idade.